/******************************************************************************
 * Copyright 2021 (C) by Tommaso Compagnucci <tommasocompagnucci1@gmail.com>  *
 *                                                                            *
 * This program is free software; you can redistribute it and/or modify       *
 * it under the terms of the GNU Library General Public License as            *
 * published by the Free Software Foundation; either version 2 of the         *
 * License, or (at your option) any later version.                            *
 *                                                                            *
 * This program is distributed in the hope that it will be useful,            *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              *
 * GNU General Public License for more details.                               *
 *                                                                            *
 * You should have received a copy of the GNU Library General Public          *
 * License along with this program; if not, write to the                      *
 * Free Software Foundation, Inc.,                                            *
 * 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.                  *
 *                                                                            *
 * For details about the authors of this software, see the AUTHORS file.      *
 ******************************************************************************/

/*
 * Example of configuration variables for Terraform
 */
 
proxmox_api_url				= "http://192.168.2.11:8006/api2/json"
proxmox_api_token_id		= "proxmox_token"
proxmox_api_token_secret	= "secret-token"

vm_name = "Checker"
target_nodes = [
	"pve21",
	"pve22"
]
vm_id = 2100
template_clones = {
	pve21 = "checker-sss",
	pve22 = "checker-sss-pve22"
}
is_full_clone = false

vm_memory = 4096

vm_sockets = 1
vm_cores = 2

vm_qemu_agent			= 1
vm_qemu_agent_timeout	= 120

vm_network_card_model	= "virtio"
vm_network_bridge		= "vmbr0"

vm_bootdisk = "scsi0"

vm_disk_storage	= "local-lvm"
vm_disk_size	= "32G"

# format: STORAGE:vm-ID-disk-0, where:
# STORAGE is the storage where the VM's disk is located
# ID must correspond to the id of the VM you want to check
# disk-0 is the disk assigned to the vm
#
# IMPORTANT: write the variable like this (i.e. on 3 lines),
# so that the scripts can auto-generate the disks names.
vm_disk_to_check_name = {
  "local-lvm:vm-2000-disk-11" = "pve21",
  "local-lvm:vm-2000-disk-12" = "pve22" 
}

vm_scsihw = "virtio-scsi-pci"

vm_ipconfig = "ip=dhcp"